.adlam-font {
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
  }

  

  .sora-font{
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* common button related style */
  .btn-primary{
    padding: 10px 30px;
    background-color: #FFDC26;
    border-radius: 8px;
  }

  .btn-secondary{
    padding: 10px 30px;
    background-color: #FFFFFF;
    border-radius: 8px;
  
  }

 /* animation related style */
 @keyframes bounce {
  0%, 100% {transform:
   translate y(0); }
   50% {transform:
  translateY(-10px);}
  
 }
 .anim{
  animation: bounce 5s infinite;
 }